{% extends 'accounts/base.html' %}

{% block title %}Password reset email sent{% endblock %}

{% block content %}
    <h1>Password reset email sent</h1>
    <p>We have sent you an email with instructions on how to reset your password. Please check your email inbox and follow the instructions in the email.</p>
{% endblock %}

{% block messages %}
  {{ super }}
  {% if password_changed %}
    <div class="alert alert-success" role="alert">
      Your password has been successfully changed.
    </div>
  {% endif %}
{% endblock %}